.u-section-1 .u-sheet-1 {
  min-height: 588px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
}

.u-section-1 .u-custom-html-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 200px;
  height: 300px;
  margin: 50px auto 40px 132px;
}